<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Das Sophia App</title>
</head>
<body>
<h1>Welcome to the Das Sophia App</h1>
<p>
    Here you will exercise you english learning.
    We'll go through some exercises from the <em>Graded Exercises in English</em> book
</p>

<a href="/lessons/1">Lessons</a>
<a href="/meetings/1">Meetings</a>

<p>There are currently {{num_meetings}} meeting in the database.</p>
<p>There are {{num_lessons}} lessons in the database.</p>
<p>There are {{num_exercises}} exercises in the database.</p>

<footer>"Willkommen App test <a href=/admin>admin</a>"</footer>
</body>
</html>