<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Das Sophia App</title>
</head>
<body>
<h1>Welcome to the Das Sophia App</h1>
<p>
    Here you will exercise you english learning.
    We'll go through some exercises from the <em>Graded Exercises in English</em> book
</p>

<div>
    <h2>Meetings</h2>
    <p>There are currently {{num_meetings}} meeting in the database.</p>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}">{{ meeting.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}">Rooms</a>
</div>
<div>
    <h2>Lessons</h2>
    <p>There are {{num_lessons}} lessons in the database.</p>
    <p>There are {{num_exercises}} exercises in the database.</p>
    <ul>
        {% for lesson in lessons %}
        <li>
            <a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<footer>
    <a href="{% url 'welcome' %}">Home</a>
    <a href="admin/">Admin</a>
</footer>
</body>
</html>