{% extends "base.html" %}

{% block title %}New Metting Form{% endblock %}

{% block content %}
<div class="container my-6 w-full max-w-7xl mx-auto px-4 flex flex-wrap">
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-md">
    <form method="post">
      {% for field in form %}
      <div class="w-full m-2 .input">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      </div>
      <div class="help">
        {% if field.help_text %}
        <p>{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
      {% csrf_token %}
      <button type="submit" class="w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md      hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                active:bg-blue-800 active:shadow-lg
                transition
                duration-150
                ease-in-out">
        Create
      </button>
    </form>
  </div>
</div>

{% endblock %}